main {
    width: 500px;
    margin:0 auto;
}

main #content {
    border: 1px solid #444;
    height: 200px;
    overflow: hidden;
}

main #content #text {
    
    transition-property: all;
    transition-duration: 20s;
    transition-timing-function: linear;
}

main #content  #title {
    font-size: 2rem;
    font-weight: bold;
    margin-top : 10px;
    margin-bottom: 10px;
}

main #content:hover #text{
    transform: translate(0px, -8107px);
}