#list {
    width: 900px;
    margin: auto;
}

#list  div {
    border: 10px solid black;
    width:100px;
    height: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

    transition-property: all;
    transition-duration: 1s;
}

#list:hover div {
    transform: rotate(180deg);
    background-color: blue;
}